{% extends "layout.j2" %}
{% block content %}
<h4>Add Order Product:</h4>
<form action="/add_order_product" method="POST">
   Order ID: <input type="text" name="ord_id" required>
   Product ID: <input type="text" name="prod_id" required>
   Quantity: <input type="text" name="quan" required>
   <input type="submit" value="Submit">
  </form>
<br>
{% endblock %}