{% extends "layout.j2" %}
{% block content %}
  <div class="pageContent">
  <h3>Well Brewed: Craft Beer, anywhere</h3>
  <p>All Tables have Insert functionality</p>
  <p>Products Table has search bar for filtering results (needs backend)</p>
  <p>Products Table has Delete enabled with backend functionality. Deleting a Product which is referenced in the Order Products table will delete that order product as well.</p>
  <p>Customers Table has Update enabled with backend functionality. Users can insert NULL values for Phone when updating a customer</p>
  <br>
  <p>All tables/add pages use Foreign Key names rather than IDs for ease of use, and add pages provjde drop-down menus to select these FKs from.
  </div>
{% endblock %}