{% extends "layout.j2" %}
{% block content %}
<div class="pageContent">
<h2>Orders</h2>
<br>
<br>
<h4><a href="/add_order"><button>Add Order</button></a></h4>
<br>
<table>
    <tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Date</th>
    </tr>
    {% for order in orders %}
        <tr>
        {% for key in order.keys() %}
            {% if key == 'Customer_id'%}
            <td> {{ customer_names[order['Customer_id']] }}
            {% else %}
            <td> {{ order[key] }} </td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</div>
{% endblock %}
