{% extends "layout.j2" %}
{% block content %}
<h2>Order Products</h2>
<br>
<br>
<h4><a href="/add_order_product"><button>Add Order Products</button></a></h4>
<br>
<table>
    <tr>
    <th>Order Product ID</th>
    <th>Order ID</th>
    <th>Product ID</th>
    <th>Quantity</th>
    </tr>
    {% for order_product in order_products %}
        <tr>
        {% for key in order_product.keys() %}
            <td> {{ order_product[key] }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}