{% extends "layout.j2" %}
{% block content %}
<h2>Order Products</h2>
<br>
<br>
<h4>Add Order Products:</h4>
<form action="/order_products" method="POST">
   Order ID: <input type="text" name="ord_prod_ord_id" required>
   Product ID: <input type="text" name="ord_prod_prod_id" required>
   Quantity: <input type="text" name="ord_prod_quan" required>
   <input type="submit" value="Submit">
  </form>
<br>
<table>
    <tr>
    {% for header in headers %}
    <th> {{ header }} </th>
    {% endfor %}
    </tr>
    {% for row in rows %}
        <tr>
        {% for cell in row %}
            <td> {{ cell }} </td>
        {% endfor %}
        <td> <button type="button">Update</button> </td>
        <form action="/order_products" method="DELETE">
            <td><input type="submit" value="Delete"></form></td>
        </tr>
    {% endfor %}
{% endblock %}