{% extends "layout.j2" %}
{% block content %}
<h2>Orders</h2>
<br>
<br>
<h4><a href="/add_order">Add Order</a></h4>
<br>
<table>
    <tr>
    {% for key in orders[0].keys() %}
    <th> {{ key }} </th>
    {% endfor %}
    </tr>
    {% for order in orders %}
        <tr>
        {% for key in order.keys() %}
            <td> {{ order[key] }} </td>
        {% endfor %}
        <td> <button type="button">Update</button> </td>
        <td> <button type="button">Delete</button> </td>
        </tr>
    {% endfor %}
{% endblock %}