{% extends "layout.j2" %}
{% block content %}
<h2>Orders</h2>
<br>
<br>
<h4><a href="/add_order">Add Order</a></h4>
<br>
<table>
    <tr>
    <th>ID</th>
    <th>Customer ID</th>
    <th>Date</th>
    </tr>
    {% for order in orders %}
        <tr>
        {% for key in order.keys() %}
            <td> {{ order[key] }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}