{% extends "layout.j2" %}
{% block content %}
<h2>Products</h2>
<br>
<br>
<h4><a href="/add_product"><button>Add Product</button></a></h4>
<br>
<div class="prod search"> <input type="text" placeholder="Search.."> </div>
<br>
<table>
    <tr>
    {% for key in products[0].keys() %}
    <th> {{ key }} </th>
    {% endfor %}
    </tr>
    {% for product in products %}
        <tr>
        {% for key in product.keys() %}
            <td> {{ product[key] }} </td>
        {% endfor %}
        <td> <button type="button">Update</button> </td>
        <td><form action="/delete_product/{{ product['Product_id'] }}">
                <input type="submit" value="Delete"></form></td>
        </tr>
    {% endfor %}
{% endblock %}