{% extends "layout.j2" %}
{% block content %}
<h2>Products</h2>
<br>
<br>
<h4><a href="/add_product"><button>Add Product</button></a></h4>
<br>
<form action="/products" method="POST">
    <input type="text" name="psearch">
    <input type="submit" value="Search">
</form>
<br>
<table>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Supplier</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Quantity</th>
    </tr>
    {% for product in products %}
        <tr>
        {% for key in product.keys() %}
            <td> {{ product[key] }} </td>
        {% endfor %}
        <td><form action="/delete_product/{{ product['Product_id'] }}">
                <input type="submit" value="Delete"></form></td>
        </tr>
    {% endfor %}
{% endblock %}