{% extends "layout.j2" %}
{% block content %}
<h2>Purchase Products</h2>
<br>
<br>
<h4><a href="/add_purchase_product"><button>Add Purchase Products</button></a></h4>
<br>
<table>
    <tr>
    <th>Purchase Product ID</th>
    <th>Purchase ID</th>
    <th>Product ID</th>
    <th>Quantity</th>
    </tr>
    {% for purchase_product in purchase_products %}
        <tr>
        {% for key in purchase_product.keys() %}
            <td> {{ purchase_product[key] }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}