{% extends "layout.j2" %}
{% block content %}
<div class="pageContent">
<h2>Purchase Products</h2>
<br>
<br>
<h4><a href="/add_purchase_product"><button>Add Purchase Products</button></a></h4>
<br>
<table>
    <tr>
    <th>Purchase Product ID</th>
    <th>Purchase ID</th>
    <th>Product</th>
    <th>Quantity</th>
    </tr>
    {% for purchase_product in purchase_products %}
        <tr>
        {% for key in purchase_product.keys() %}
            {% if key == 'Product_id'%}
            <td> {{ product_names[purchase_product['Product_id']] }}
            {% else %}
            <td> {{ purchase_product[key] }} </td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</div>
{% endblock %}
