{% extends "layout.j2" %}
{% block content %}
<h2>Purchases</h2>
<br>
<br>
<h4><a href="add_purchase">Add Purchase</a></h4>
<br>
<table>
    <tr>
    {% for key in purchases[0].keys() %}
    <th> {{ key }} </th>
    {% endfor %}
    </tr>
    {% for purchase in purchases %}
        <tr>
        {% for key in purchase.keys() %}
            <td> {{ purchase[key] }} </td>
        {% endfor %}
        <td> <button type="button">Update</button> </td>
        <td> <button type="button">Delete</button> </td>
        </tr>
    {% endfor %}
{% endblock %}