{% extends "layout.j2" %}
{% block content %}
<h2>Purchases</h2>
<br>
<br>
<h4><a href="add_purchase">Add Purchase</a></h4>
<br>
<table>
    <tr>
    <th>ID</th>
    <th>Supplier ID</th>
    <th>Date</th>
    </tr>
    {% for purchase in purchases %}
        <tr>
        {% for key in purchase.keys() %}
            <td> {{ purchase[key] }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}