{% extends "layout.j2" %}
{% block content %}
<h2>Suppliers</h2>
<br>
<br>
<h4><a href="/add_supplier">Add Supplier</a></h4>
<br>
<table>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Location</th>
    </tr>
    {% for supplier in suppliers %}
        <tr>
        {% for key in supplier.keys() %}
            <td> {{ supplier[key] }} </td>
        {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}