{% extends "layout.j2" %}
{% block content %}
<h2>Suppliers</h2>
<br>
<br>
<h4><a href="/add_supplier">Add Supplier</a></h4>
<br>
<table>
    <tr>
    {% for key in suppliers[0].keys() %}
    <th> {{ key }} </th>
    {% endfor %}
    </tr>
    {% for supplier in suppliers %}
        <tr>
        {% for key in supplier.keys() %}
            <td> {{ supplier[key] }} </td>
        {% endfor %}
        <td> <button type="button">Update</button> </td>
        <td> <button type="button">Delete</button> </td>
        </tr>
    {% endfor %}
{% endblock %}